.feature
  .feature__img
    %h1 会員数日本一位
    %p FURIMAは、フリマアプリで最も人気。
    %P 出品・購入回数も業界最多です！
    %P ほしかったあの商品に出会えるかもしれません。
  .feature__title
    %h1 FURIMAの特徴
    %p

  .feature__items
    %ul.lists
    %li.list
      .list__img-a
      %h2 簡単に売り買いできる
      %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

    %ul.lists
    %li.list
      .list__img-b
      %h2 売上金は即日振込みに対応
      %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!

    %ul.lists
    %li.list
      .list__img-c
      %h2 様々な支払いに対応
      %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。