.new-contents-main
  .title
    %h1 商品の情報を入力
    =form_with model: @item,local:true do |f|
      .imege-upload
        = render 'shared/error_messages', model: f.object
        .section
          %h2 出品画像
          %span 必須
        %p 最大５枚までアップロードできます
        .image__list
          #image-box
          =f.label :item_images do
            =f.file_field :item_images,multiple: true,class:"item-img"
            %P ドラッグ&ドロップ、またはクリックしてファイルをアップロード
            %i.fa.fa-camera