%main.main
  .main__content
    .main__content__name
      %h1 ピックアップカテゴリー
      %h2=link_to"新規投稿商品"

    .main__content__items
      - @itmimgs.each do |i|
        .contents__list 
          .contents__list--img 
            =link_to item_path(i.item.id) do
              =image_tag i.image.url,class:"img",height:200,width:240
          .contents__list--price
            = "¥#{i.item.price.to_s(:delimited)}"
          .contents__list--name
            =i.item.name
            .contents_user
              ="出品者: " +i.item.user.name + " さん"
    .main__content__bottom
      = paginate @itmimgs

  .main__content
    .main__content__name
      %h1 ピックアップブランド
      %h2=link_to"アーカイバ"
    .main__content__items
      .contents__list
        %P item.img
        %P item.price
        %P item.name
      .contents__list
        %P item.img
        %P item.price
        %P item.name
      .contents__list
        %P item.img
        %P item.price
        %P item.name


  .main__content__img
    %h1 だれでもかんたん、人生を変えるフリマアプリ
    %p 今すぐ無料ダウンロード！

  .create-item
    = link_to new_item_path class:"create" do
      %p 出品する
      %i.fa.fa-camera