.reason
  
  .reason__title
    %h1 FURIMA が選ばれる３つの理由
    %p 
  .reason__items
    %ul.lists
    %li.list
      .list__img イメージ
      .list__num 1
      %h2
        %span ３分で
        すぐに出品

      %p スマホで入力するだけで簡単に出品できる
    
    %ul.lists
    %li.list
      .list__img イメージ
      .list__num 2
      %h2
        %span シンプルで
        使いやすい
      %p めんどくさい入力は必要なく、検索も購入もスムーズ！
    
    %ul.lists
    %li.list
      .list__img イメージ
      .list__num 3
      %h2
        手数料
        %span 業界最安
      %p 最大３％でお得に出品＆購入！




