*{
  box-sizing: border-box;
}

.category-main {
  background-color: $back-color;
  height: 900px;
  padding: 60px;

  .category-box {
    height: 250px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .category-title {
      color: $letter-color;
      font-size: 20px;
      font-weight: bold;
      padding: 10px 0;
    }
    
    .category-list{
    a {
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px rgba(14,14,14, .0580392);
      color: $letter-color;
      float: left;
      font-size: 16px;
      line-height: 40px;
      margin: 5px;
      overflow-wrap: break-word;
      padding: 5px 30px;
      text-decoration: none;
    }

    &__ladys {
      background-color: #ff0000;
      border-radius: 3px;
      color: #ffffff;
      font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
      font-size: 20px;
      font-weight: bold;
      height: 40px;
      margin-top: 30px;
      padding: 5px 20px;
      width: 700px;
    }

    &__ladys__child {
      background-color: #ffffff;
      color: $letter-color;
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
      height: 900px;
      padding: 30px;
      width: 700px;
    } 
    }
  }
}
