.header
  .header__logo
    = link_to root_path do
      = image_tag("material/logo/logo.png", alt: "logo image")

.new-contents
  .new-contents-main
    .title
      %h1 商品の情報を入力
      =form_with (model: @items,local:true) do |f|
        .imege-upload
          .section
            %h2 出品画像
            %span 必須
          %p 最大５枚までアップロードできます
          .image__list
            =f.fields_for :item_images do |image|
              =image.label :image do
                =image.file_field :image,class:"item-img"
                =image.file_field :image,class:"item-img"
                =image.file_field :image,class:"item-img"
                =image.file_field :image,class:"item-img"
                =image.file_field :image,class:"item-img"
        .item-name
          .section-name
            .title
              %p 商品名
              %span 必須
            =f.text_field :name,placeholder: '商品名（必須）',class: "input-name"
          .section-discription
            .title
              %p 商品の説明
              %span 必須
            =f.text_area :description,placeholder: '商品の説明（色、素材、重さ、定価、注意点など)',class: "input-description"
      

        .item-details
          %h3 商品の詳細
          .item-details__box
            .section
              %p カテゴリー
              %span 必須
            =f.select :category_id,"",class:"select-box" do
              %option 選択してください
              %option レディース
              %option メンズ
              %option その他
            .section
              %p ブランド
              %span 必須
            =f.select :brand_id, "",class:'select-box' do
              %option 選択してください
              %option ルイヴィトン
              %option プラダ
              %option アディダス
            .section
              %p 商品の状態
              %span 必須
            =f.select :status, "",class:'select-box' do
              %option 選択してください
              %option 新品
              %option 中古
              %option 傷あり

        .delivery-select
          %h4 発送について
          .delivery-select__box
            .section
              %p 配送料の負担
              %span 必須
            =f.select :is_bear_shipping_cost, "",class:'select-box' do
              %option 選択してください
              %option 送料込（出品者負担）
              %option 着払い（購入者負担）
            .section
              %p 発送先の地域
              %span 必須
            =f.select :region, "",class:'select-box' do
              %option 選択してください
              %option 日本
              %option 海外
            .section
              %p 発送までの日数
              %span 必須
            =f.select :period, "",class:'select-box' do
              %option 選択してください
              %option 1〜2日で発送
              %option 2〜3日で発送
              %option 4〜7日で発送
        .price-input
          %h5 販売価格
          .price-input__box
            %P 価格
            %span 必須
          .price-input__form
            ¥
            =f.text_field :price, type:"number",min:"0",value: "@item.price",placeholder:"例）300",class:'input-price'
        .sell-item
          = f.submit "出品する", class: "sell-btn"
.new-footer
  .new-footer__logo
    = image_tag("material/logo/logo-white.png", alt: "logo image")
    %p © FURIMA