.feature{
  width: 100%;
  margin-bottom: 250px;
  &__img{
    @include insert-img();
    background-image: image-url("material/pict/bg-topMiddleDl-pict.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1,p{
      color: white;
      display: inline-block;
      margin-left: 200px;
      text-shadow: 1px 2px 3px #808080;
    }
    h1{
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    P{
      font-size: 20px;
    }
  }
  &__title{
   @include title();
  }
  &__items{
    @include items();
    .list__img-a{
      width: 200px;
      height: 300px;
      background-size: cover;
      background-image: image-url("material/icon/icon-01.png");
    }
    .list__img-b{
      width: 200px;
      height: 300px;
      background-size: cover;
      background-image: image-url("material/icon/icon-03.png");
    }
    .list__img-c{
      width: 200px;
      height: 300px;
      background-size: cover;
      background-image: image-url("material/icon/icon-04.png");
    }
  }
}
