.feature{
  width: 100%;
  //height: 900px;
  margin-bottom: 250px;
  &__img{
    @include insert-img();
    background-image: image-url("material/pict/bg-topMiddleDl-pict.jpg");
  }
  &__title{
   @include title();
  }
  &__items{
    @include items();
    .list__img-a{
      width: 200px;
      height: 300px;
      background-size: cover;
      background-image: image-url("material/icon/icon-01.png");
    }
    .list__img-b{
      width: 200px;
      height: 300px;
      background-size: cover;
      background-image: image-url("material/icon/icon-03.png");
    }
    .list__img-c{
      width: 200px;
      height: 300px;
      background-size: cover;
      background-image: image-url("material/icon/icon-04.png");
    }
  }
}
