.feature{
  height: 500px;
  width: 100%;
  background-color: lime;
  &__img{
    height: 400px;
    width: 100%;
    background-color: pink;
  }
  &__title{
    h1{
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      line-height: 25px;
      margin-bottom: 20px;
      padding: 15px;

    }
    p{
      content:"";
      border-bottom:5px solid lightseagreen ;
      width: 100px;
      margin: 0 auto;
      margin-bottom: 30px;

    }
  }
  &__list{
    background-color: blue;
    display: flex;
    justify-content: center;
    


  }
}
