.header{
  width: 100%;
  padding-bottom: 10px;
  a{
    text-decoration: none;
  }

  &__top{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    &--logo{
      height: 36px;
      width: 140px;
      color: #000;
     img{
       width: 100%;
     }
    }
    &--search{
      height: 40px;
      width: 600px;
      position: relative;
      .search-ward{
        width: 100%;
        height:40px;
        background-color:white;
        border: solid 1px;

      }

      .search-icon{
        position: absolute;
        display: block;
        right: -42px;
        bottom: 1px;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color:$furima-green;
        color: white;
        font-size: 20px;
        border-radius: 3px;
        :hover{
          cursor: pointer;
          opacity: 0.9;
        }
      }

    }
  }

  &__bottom{
    width: 70%;
    margin: 10px auto 0;
    display: flex;
    .search-list{
      font-size: 16px;
      font-weight: bold;
      width: 50%;
      display: flex;

      a {
        color: #000;
      }
      a:hover {
        color: $furima-blue;
        ul{
          display: block;
        }
      }
      #category-list {
        width: 150px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        margin-right: 20px;

        &:hover {
          color: $furima-blue;
        }
      }

      #brand-list {
        width: 150px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        cursor: pointer;

        &:hover {
          color: $furima-blue;
        }
      }
    }

    .user-menu {
      width: 70%;
      display: flex;
      justify-content: flex-end;

      .logout-user {
        display: block;
        width: 120px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background-color:rgb(234,53,45);
        border-radius: 5px;
        margin-right: 20px;

        a {
          color: #fff;
        }
      }

      .new-user {
        display: flex;

        .create-user {
          display: block;
          width: 120px;
          margin-left: 20px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          background-color:rgb(234,53,45);
          border-radius: 5px;
          margin-right: 20px;
          color: #fff;
        }

        .login-user {
          width: 120px;
          height: 35px;
          line-height: 35px;
          align-items: center;
          text-align: center;
          background-color: #fff;
          border: solid 2px $furima-blue;
          border-radius: 5px;
          cursor: pointer;

          a {
            color: $furima-blue;
            display: block;
          }
        }
      }
      .to-mypage{
        @include mypage-list;
      }
      .to-do{
        @include mypage-list;
      }

      .create-user a{
        color: #fff;
      }
    }
  }
}

.brand_modal {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  #brand-index {
    background-color: $furima-gray;
    border: solid 3px $furima-blue;
    border-radius: 10px 0;
    height: auto;
    left: 15%;
    padding: 0 0 40px;
    position: absolute;
    text-align: center;
    top: 15%;
    width: 500px;

    .index-title {
      background-color: $white;
      border-bottom: solid 1px $furima-blue;
      color: gray;
      height: 40px;
      line-height: 40px;
      width: 100%;

      & .title {
        font-weight: 600;
        letter-spacing: 10px;
      }

      .close {
        color: gray;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 0;
      }
    }
  }

  .brand-list a {
    @include modal_list();
  }

  .brand-all a {
    @include modal_list();
  }
}

.category_modal {
  background-color: rgba(0, 0, 0, .6);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  #category-index {
    background-color: $furima-gray;
    border: solid 3px $furima-blue;
    border-radius: 10px;
    height: auto;
    left: 10%;
    padding: 0 0 40px;
    position: absolute;
    text-align: center;
    top: 15%;
    width: 450px;

    .index-title {
      background-color: $white;
      border-bottom: solid 1px $furima-blue;
      color: gray;
      height: 40px;
      line-height: 40px;
      width: 100%;

      & .title {
        font-weight: 600;
        letter-spacing: 10px;
      }

      .close {
        color: gray;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 0;
      }
    }

    .category-list a {
      @include modal_list();
    }
    .category-all a {
      @include modal_list();
    }
  }
}

