.header{
  width: 100%;
  border-bottom: solid 3px orange;
  padding-bottom: 10px;
  a{
    text-decoration: none;
  }

  &__top{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    &--logo{
      height: 36px;
      width: 134px;
      background-color: red;
    }
    &--search{
      height: 40px;
      width: 600px;
      position: relative;
      .search-ward{
        width: 100%;
        height:40px;
        background-color:lightgray;
        border: solid 1px;

      }
      .search-icon{
        position: absolute;
        right: 1px;
        bottom: 1px;
        margin: 0 auto;
        background-color:lightgray;
        i{
          display: block;
          padding: 10px;
          height: 30px;
        }
        :hover{
          cursor: pointer;
        }
      }

    }
  }

  &__bottom{
    width: 70%;
    margin: 10px auto 0;
    display: flex;
    .search-list{
      font-size: 16px;
      font-weight: bold;
      width: 50%;
      display: flex;
      li{
        background-color: #fff;
      }
      a{
        color: #000;
      }
      a:hover{
        color: rgb(0,149,238);
      }
      .category-list{
        width: 150px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        margin-right: 20px;

      }
      .bland-list{
        width: 150px;
        height: 35px;
        line-height: 35px;
        text-align: center;
      }
    }

    .member-menu{
      width: 70%;
      display: flex;
      justify-content: flex-end;
      .new-member{
        width: 120px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background-color:rgb(234,53,45);
        border-radius: 5px;
        margin-right: 20px;
        a{
          color: #fff;
        }
      }

      .login-btn{
        width: 100px;
        height: 35px;
        line-height: 35px;
        align-items: center;
        text-align: center;
        background-color: #fff;
        border: solid 2px rgb(0,149,238);
        border-radius: 5px;
        cursor: pointer;
        a{
          color: rgb(0,149,238);
          display: block;
        }
        a:hover{
          background-color: rgb(0,149,238);
          color: #fff;
        }
      }
    }

  }
}