.main{
  width: 100%;
  margin: 0 auto;
  background-color: $furima-gray;

  &__content{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    &__name{
      padding-top: 50px;
      width: 100%;
      @include pickup();
    }
    &__items{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .contents__list{
        height: 280px;
        width: 250px;
        background-color: #fff;
        margin: 25px;
        border: 1px solid;
      }

    }
    &__img{
      @include insert-img();
      background-image: image-url("material/pict/bg-appBanner-pict.jpg");
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1,p{
        color: #fff;
        text-shadow: 1px 2px 3px #808080;
      }
      h1{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      p{
        font-size: 35px;
      }
    }

  }

  a{
    display: inline-block;
    position: fixed;
    bottom:40px;
    right:30px;
    font-size: 15px;
    width: 120px;
    height: 120px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: $furima-green;
    border-radius: 5px;
    i{
      font-size: 50px;
    }
  }
}
