.search-side {
  background-color: $furima-gray;
  float: left;
  height: 2000px;
  width: 250px;
}

.side-detail {
  background-color: $white;
  margin: 0 auto;
  padding: 10px;
  width: 200px;
}

.side-head {
  text-align: center;
}

.side-button {
  text-align: center;
}