.item-result {
  background-color: #ffffff;
  height: 2000px;
  width: 100%;
}
.result-title {
  font-weight: bold;
  text-align: center;
  width: 1200px;
  margin-top: 20px;
  font-size: 25px;
}

.result-main {
  display: flex;
  flex-wrap: wrap;
}

.result-content {
  display: block;
  margin: 30px;
  width: 210px;
  border: 1px solid;

  &--image {
    padding-top: 2px;
    text-align: center;
  }

  &--price {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    opacity: .7;
    padding: 6px 12px;
    border-radius: 0 20px 20px 0;
  }

  &--name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  &--user {
    font-size: 8px;
    font-weight: normal;
    padding: 4px 15px;
    text-align: right;
  }
}
