$furima-green: rgb(60,202,206);
$furima-black: rgb(39,39,39);
$furima-gray:  rgb(242,242,242);
$furima-blue:  rgb(0,149,238);
$furima-red:   rgb(255,0,0);

@mixin title(){
  h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    margin-top: 30px;
    padding: 15px;
  }
  p{
    content:"";
    border-bottom:5px solid $furima-green;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 50px;

  }
}

@mixin pickup(){
  h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    a{
      color:$furima-green;
      text-decoration: none;
    }
  }
}

@mixin insert-img(){
  height: 550px;
  width: 100%;
  background-size: cover;
}

@mixin list(){
  display: inline-block;
  background-color:#fff;
  height: 300px;
  width: 300px;

}


@mixin items(){
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    ul{
      display: block;
    }
    li.list{
      @include list();
      position: relative;
      margin-right: 30px;
      .list__num{
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        background-color: $furima-green;
        color: #fff;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
      }
      h2 span{
        color: $furima-green;
      }
      h2 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
      }
      p{
        font-size: 17px;
        margin-top: 15px;
      }
    }
}
@mixin not-null {
  background: #ea352d;
  margin: 15px 0 2px 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

@mixin categories() {
  display: flex;
  p{
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0px 0px;
  }
  span{
    background: #ea352d;
    margin: 15px 0 2px 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  
}
@mixin select{
  height: 48px;
  width: 400px;
  font-size: 15px;
  color: #888888;
}
@mixin mypage-list{
  font-size: 16px;
  font-weight: bold;
  margin-right: 30px;
  padding: 8px;
  a{
    color: #000;
  }
  a:hover{
    color: rgb(0,149,238);
  }
}