.wrapper
  = render "shared/simple_header"
  .brand-main
    .brand-box
      %h1.brand-title
        ブランド一覧
      - @brands.each do |brand|
        .brand-list
          = brand.name
  = render "shared/footer"
